[package]
name = "cargo-ndk"
version = "2.9.0"
authors = ["Brendan Molloy <brendan@bbqsrc.net>"]
repository = "https://github.com/bbqsrc/cargo-ndk"
documentation = "https://docs.rs/cargo-ndk"
homepage = "https://github.com/bbqsrc/cargo-ndk"
license = "Apache-2.0 OR MIT"
description = "Makes building Rust libraries for Android simpler"
keywords = ["ndk", "cargo", "android", "build"]
categories = [
    "command-line-utilities",
    "config",
    "os",
    "development-tools::cargo-plugins",
    "development-tools::build-utils"
]
edition = "2018"

[badges]
maintenance = { status = "actively-developed" }

[dependencies]
cargo_metadata = "0.14.0"
env_logger = "0.9.0"
gumdrop = "0.8.0"
log = "0.4.14"
pathos = "0.3.0-pre.4"
semver = "1.0.3"
serde = { version = "1.0.126", features = ["derive"] }
toml = "0.5.8"
