on: [push, pull_request]

name: CI

jobs:
  ci:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        rust:
          - stable
          - beta
          - nightly
          - 1.68.0 # MSRV
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.rust }}
          targets: aarch64-linux-android, armv7-linux-androideabi
          components: rustfmt, clippy
      - name: Run build
        run: cargo install --path .
      - name: Run test
        working-directory: example
        run: cargo ndk --apply-ndk-quote-workaround build
      - name: Check code formatting
        continue-on-error: true
        run: cargo fmt --all -- --check
      - name: Run clippy
        continue-on-error: true
        run: cargo clippy -- -D warnings
